body {
    background-color: black;
        color: white;
   
}

button { 
    size: 10px;
    background-color: transparent;
        border: none;

}



button img {
    height: 200px;;
         width: 100%;
            border-radius: 1000px;
     


}





