body {
        color: white;
         background-image: url(assets/fundo.jpg);
            background-position: center;
             background-repeat: no-repeat;
                background-size: cover;
                    background-attachment: fixed;
   
}

img {
    height: 245px;
        border: 5px solid lightblue;
            border-radius: 50px;
            position: absolute;
}

#primeira {
    position: absolute;
    top: 200px;
    left: 100px;
    height: 10px;
}

h1 {
    background-color: lightblue;
        color: black
}

h3 {
    font-weight: bold;
}



footer p{   
    color: black
}
header {
    display: flex;
        align-items: center;
            justify-content: center;
}