body {
    background-color: black;
    color: white;
   
}

img {
    height: 300px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 20px;
    background-color: rgb(255, 255, 0);
    color: black
}

p {
    color: black
}

footer p{
    color: black
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}